<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JIT Sign in</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="container">
                <div class="header__inner">
                    <a href="#" class="logo">
                        <img src="img/logo.svg" alt="" class="logo__img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <p class="menu__list-text">Create new account</p>
                            </li>
                            <li class="menu__list-item">
                                <button class="menu__list-button">Sign up</button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <main class="container">
        <div class="main__inner">
            <form class="sign-in" id="sign-in-form">
                <h2 class="sign-in-subtext">
                    Sign-up
                </h2>
                <div class="form__inner">
                    <label class="form-input" for="e-mail">E-mail</label>
                    <input class="medium-input" id="e-mail" type="text">
                </div>
                <div class="form__inner">
                    <label class="form-input" for="password">Password</label>
                    <input class="medium-input" id="password" type="text">
                </div>
            </form>
            <button class="sign-in-button" type="submit" form="sign-in-form">
                Sign-in
            </button>
        </div>
    </main>


</body>

</html>